
@{
    ViewBag.Title = "BolgIndex";
    var articles = ViewBag.BlogArticles as List<BlogArticle>;
}

<h2>博客</h2>
<ol>
        @foreach (var item in articles)
            {
                <li>
                    <a href = "Home/Show/@item.Id"> @item.Subject </a>
                    @Html.ActionLink("[  编辑  ]", "Edit", new { id = item.Id }) |   
                 </li>
             }
    
</ol>

